.publication-layout {
  display: flex;
  gap: 20px;
  margin-bottom: 1.5em;
  align-items: flex-start;
}

.publication-image {
  flex: 0 0 320px;
}

@media (max-width: 768px) {

  .publication-layout {
    flex-direction: column;
  }

  .publication-image {
    flex: none;
    width: 100%;
    max-width: 300px;
  }

}

.abstract-block {
  background: #f4f4f4;   /* gris clair */
  color: #111;           /* texte sombre */
  padding: 10px;
  border-radius: 4px;
  font-size: 0.78em;
  overflow-x: auto;
  white-space: normal;
}

.bibtex-block {
  background: #f4f4f4;   
  color: #111;          
  font-size: 0.78em;
}

.author-highlight {
  text-decoration: underline;
}

/* Mode sombre */
/* @media (prefers-color-scheme: dark) {
  .abstract-block {
    background: #1e1e1e; 
    color: #f0f0f0;      
  }
} */
